/* p.p2{
    color: crimson;
}
p.success{
    color: #4fdb4f;
}
p.success.feedback{
    border: 1px dashed #4fdb4f;
}
#content{
    background-color: #ebebeb;
    padding: 25px;
} */

/* div .p2{
    color: purple;
} */

/* a[href="http://www.google.com"]{
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */

/* a[href*="google"]{
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a[href$=".in"]{
    color: white;
    background-color: red;
    border: 2px solid blue;
} */
div{
    color: red;
    border: 1px solid springgreen;
    margin: 40px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color: orange;
}
